:root {
    --bg-color: #fceee9;
    --second-bg-color: #ddd1cc;
    --text-color: #19191E;
    --main-color: #FA5F55;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

/* Header and Nav */
header {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    padding: 10px 0; /* Add some padding */
    z-index: 1000; /* Ensure navbar is above other content */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
}

nav ul li a:hover, .nav ul li a.active {
    color: var(--main-color);
    transition: .2s;
    text-decoration: none;
}

/* Gallery */
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.gallery-item {
    background-color: var(--second-bg-color);
    border-radius: 8px;
    overflow: hidden;
    width: 95%;
    max-width: 650px;
    text-align: center;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

.image-description {
    padding: 10px;
    color: var(--text-color);
    text-align: center;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden; /* Ensure overflow is hidden */
    text-overflow: ellipsis; /* Add ellipsis for overflowing text */
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-color);
    padding: 0 20px; /* Ensures there's space on either end of the footer */
}

.footer-text p {
    font-size: 20px;
    text-align: center;
    white-space: wrap; /* Prevents the text from wrapping */
    overflow: hidden; /* Prevents text overflow */
    text-overflow: ellipsis; /* Adds ellipsis (...) to overflowing text */
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem; /* Smaller padding */
    background: var(--main-color);
    border-radius: 0.5rem; /* Adjusted border-radius */
    transition: .5s ease;
}

.footer-iconTop a:hover {
    color: #19191E;
    box-shadow: 0px -18px 38px -11px rgba(25, 25, 30, 0.322) inset;
}

.footer-iconTop a i {
    font-size: 1.8rem; /* Smaller font size for the icon */
    color: var(--text-color);
}

@media screen and (max-width: 600px) {
    nav ul li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }
.image-description {
    font-size: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden; /* Ensure overflow is hidden */
    text-overflow: ellipsis; /* Add ellipsis for overflowing text */
}
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-text p {
        font-size: 16px;
        white-space: normal; /* Allow text to wrap on smaller screens */
    }

    .footer-iconTop a i {
        font-size: 1.5rem;
    }
}
